{% extends 'header.html' %}

{% block title %}
Login Form
{% endblock %}


{% block content %}
<div class="container mt-5">

    <div class="col-6 mx-auto ui segment p-4 ">
        <h1 class="display-4 ">Login Form</h1>
        <div class="ui warning message" id="message" {% if not err %}hidden {% endif %}>
            {{err}}
        </div>
        <div class="ui success message" {% if not message %}hidden {% endif %}>
            {{message}}
        </div>
        <form class="ui form" id="form" action="/login/ " method="POST">
            {% csrf_token %}

            <div class="field">
                <label>Email <i class="fas fa-envelope"></i> </label>
                <input type="email" name="email" placeholder="example@gmail.com">
            </div>
            <div class="field">
                <label>Password <i class="fas fa-key"></i></label>
                <input type="password" name="password" placeholder="*****">
            </div>
            <div>
                <a href="/reset-password/">Reset Password? </a>
            </div>
            </br>
        <div mt-3>
            <button class=" button ui teal btn-block">Login</button>
        </div>


        </form>
    </div>
</div>


{% endblock %}