{% extends 'header.html' %}

{% block title %}
reset form
{% endblock %}


{% block content %}
<div class="container mt-5">

    <div class="col-6 mx-auto ui segment p-4 ">
        <h1 class="display-4 ">ResetPassword Form</h1>
        <div class="ui warning message" id="message" {% if not error %}hidden {% endif %}>
            {{error}}
        </div>
        {% if form1 %}
        <form class="ui form" id="form1" action="/reset-password-verification/" method="POST">
            {% csrf_token %}

            <div class="field">
                <label>Email <i class="fas fa-envelope"></i> </label>
                <input type="email" name="email" placeholder="example@gmail.com">
            </div>


        <div mt-3>
            <button class=" button ui teal btn-block">Send Code</button>
        </div>


        </form>
        {% endif %}

{% if form2 %}
        <form class="ui form" id="form2" action="/password-verification-code/" method="POST">
            {% csrf_token %}

            <div class="field">
                <label>Code </label>
                <input type="number" name="code" placeholder="12345">
            </div>


        <div mt-3>
            <button class=" button ui teal btn-block">Verify</button>
        </div>


        </form>
 {% endif %}
        {% if form3 %}
        <form class="ui form" id="form3" action="/reset-password/" method="POST">
            {% csrf_token %}

            <div class="field">
                <label>New Password </label>
                <input type="text" name="password" placeholder="******">
            </div>
             <div class="field">
                <label>Repassword New Password </label>
                <input type="text" name="repassword" placeholder="******">
            </div>


        <div mt-3>
            <button class=" button ui teal btn-block">Change Password</button>
        </div>


        </form>
        {% endif %}
    </div>
</div>


{% endblock %}